{% extends "master.html" %}
{% load static %}
{% block title %}Wizlight Bulb Control{% endblock %}
{% block content %}
    <script type="text/javascript" src="{% static 'js/imageHandler.js' %}"></script>
    {% if numBulbs > 0 %}
    <script>window.setInterval(backgroundUpdate, 1000)</script>
    {% endif %}
    <h1>Your Bulbs</h1>
    <h3>Bulbs</h3>
    <p>
        <form action="" method="post">
            <input type='hidden' name='discover'>
            <button>Click to find bulbs</button>
        </form>
        <br>
        {% for x in bulbs %}
            <p>{{ x.BulbName }}</p>
            <i name="{{ x.BulbName }}"
               class="fa-solid fa-lightbulb"
               onclick="updateImage.call(this)"
               value="{{ x.BulbIp }}"></i>
        {% endfor %}
        <br>
        <br>
        {% for x in ips %}
                <button name="{{ x }}" value="{{ x }}" onclick="updateImage.call(this)">Click to toggle bulb at {{ x }}</button>
                <br>
                <br>
        {% endfor %}
        {% for x in ips %}
            <form action='' method='post'>
                {% for field in regForm %}
                    {% if field.html_name == 'bulbIp' %}
                        <input type='hidden' name="{{ field.html_name }}" value="{{ x }}">
                    {% elif field.html_name == 'bulbName' %}
                        {{ field.errors }}
                        <label for="{{ field.id_for_label }}">Input a name for the bulb at ip: {{ x }}</label>
                        {{ field }}
                        <br>
                    {% else %}
                        <input type='hidden' name="{{ field.html_name }}" value="">
                    {% endif %}
                {% endfor %}
                <br>
                <input type="submit" value="save">
                <br>
                <br>
            </form>
        {% endfor %}
    {% endblock %}
