{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "jsxBracketSameLine": false,
    "jsxSingleQuote": true,
    "printWidth": 80,
    "proseWrap": "always",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "semi": false,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "all",
    "useTabs": false,
    "overrides": [
        {
            "files": "**/templates/*html",
            "options": {
                "printWidth": 200,
                "htmlWhitespaceSensitivity": "ignore"
            }
        },
        {
            "files": "*.py",
            "options": {
                "printWidth": 160
            }
        }
    ]
}
