{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "jsxBracketSameLine": false,
    "jsxSingleQuote": true,
    "printWidth": 80,
    "proseWrap": "always",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "useTabs": false,
    "overrides": [
        {
            "files": "**/templates/*html",
            "options": {
                "printWidth": 200,
                "htmlWhitespaceSensitivity": "ignore",
                "tabWidth": 4
            }
        },
        {
            "files": "*.js",
            "options": {
                "semi": true,
                "tabWidth": 4
            }
        }
    ]
}
