# Requirements for Wizbulb Music Sync Project
# Main web dependencies
Django
django-bootstrap-v5
requests
# Audio processing dependencies
numpy
sounddevice
PyAudio
PyAudioWPatch
scipy
# Testing dependencies
pytest
pytest-django
pytest-cov
pytest-xdist
playwright
pylint
anybadge

