# Requirements for Wizbulb Music Sync Project
# Main web dependencies
Django
django-bootstrap-v5
requests
# Audio processing dependencies
numpy
sounddevice
PyAudio == 0.2.12
PyAudioWPatch
scipy
# Testing dependencies
pytest
pytest-django
pytest-cov
pytest-xdist
playwright
# Miscellaneous dependencies
readme-coverage-badger
