html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Source Sans Pro Topnav', sans-serif;
}

html {
    display: table;
    margin: auto;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2vw;
    width: 100%;
    height: 100%;
}

.main-title {
    font-size: 10vw;
}

.button {
    transition: 0.25s;
}

.bulb-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.bulb-color-selector {
    visibility: hidden;
}

.bulb-icon {
    display: grid;
}

.fa-lightbulb {
    font-size: 10vw;
    transition: color 0.25s;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.colormap {
    width: 100vw;
    height: 100vw;
}

#selectedhexagon {
    position: relative;
    visibility: hidden;
    height: 21px;
    width: 21px;
    overflow: hidden;
    transition: all ease-in-out 0.25s;
}

.color-selector {
    overflow: hidden;
    transition: 10s;
}

.bulb-container:hover {
    background-color: aliceblue;
}

.bulb-container:hover .bulb-color-selector {
    visibility: visible;
}
