{% extends "master.html" %} {% load static %} {% block title %}Bulb Bop{% endblock %} {% block content %}
<br />
<header class="container justify-content-center text-center">
    <h1 class="fw-bold fs-1">About</h1>
</header>
<br />
<br />
<div class="container justify-content-center text-center">
    <section>
        <div class="about-item">
            <h3 class="fw-bolder fs-2">The Project</h3>
            <p>Bulb bop is a web application designed to manage and control wiz smart bulbs and sync them up with your music.</p>
            <br />
            <p>This project has been the work of Ryan McClean, a student at Queen's University Belfast, as his final year project.</p>
        </div>
    </section>
    <br />
    <section>
        <h2 class="fw-bold fs-2">The Author</h2>
        <div class="faq-item">
            <h3 class="fw-bolder fs-4">Ryan McClean</h3>
            <br />
            <a href="https://github.com/RyanMcClean"><img class="img-thumbnail object-fit-sm-scale w-25" src="{% static 'images/Portrait.jpg' %}" alt="Image of author" /></a>
            <br />
            <br />
            <p>Ryan McClean is a final year student in Queens, studying a Masters in Computer Programming</p>
            <br />
        </div>
    </section>
    <br />
    <section>
        <h2 class="fw-bold fs-2">Troubleshooting</h2>
        <div class="faq-item">
            <h3 class="fw-bolder">What should I do if my bulbs are not responding?</h3>
            <p>If your bulbs are not responding, try restarting the application and ensuring that your bulbs are properly connected to the network.</p>
        </div>
        <div class="faq-item">
            <h3 class="fw-bolder">How do I connect bulbs to my network?</h3>
            <p>
                WizBulbs are connected to your internet via the WizApp, information about the app and links to download it can be found here:
                <a href="https://www.wizconnected.com/en-us/explore-wiz/app">https://www.wizconnected.com/en-us/explore-wiz/app</a>
            </p>
        </div>
        <div class="faq-item">
            <h3 class="fw-bolder">Who can I contact for support?</h3>
            <p>If you need further assistance, please contact our support team at support@bulbbop.com.</p>
        </div>
    </section>
</div>
{% endblock %}
