{% extends "master.html" %} {% load static %} {% block title %}Bulb Bop{% endblock %} {% block content %}
<br />
<header class="container justify-content-center text-center">
    <h1 class="fw-bold fs-1">About</h1>
</header>
<br />
<br />
<div class="container justify-content-center text-center">
    <section>
        <div class="about-item">
            <h3 class="fw-bolder fs-2">The Project</h3>
            <p>Bulb bop is a web application designed to manage and control wiz smart bulbs and sync them up with your music.</p>
            <br />
            <p>This project has been the work of Ryan Urquhart, a student at Queen's University Belfast, as his final year project.</p>
            <br />
            <p>The goal of this project is to create a web application that allows users to control their smart bulbs and sync them with their music, providing a unique and immersive experience.</p>
            <br />
        </div>
    </section>
    <br />
    <section>
        <h2 class="fw-bold fs-2">The Author</h2>
        <div class="faq-item">
            <h3 class="fw-bolder fs-4">Ryan Urquhart</h3>
            <br />
            <a href="https://github.com/RyanMcClean"><img class="img-thumbnail object-fit-sm-scale w-25" src="{% static 'images/Portrait.jpg' %}" alt="Image of author" /></a>
            <br />
            <br />
            <p>Ryan Urquhart is a final year student in Queens, studying a Masters in Computer Programming</p>
            <br />
        </div>
    </section>
</div>
{% endblock %}
