body {
    font-family: 'Courier New', Courier, monospace;
}

.fa-solid.fa-lightbulb {
    font-size: 10vw;
}

#edit-bulb-link:hover {
    color: black;
    font-weight: bolder;
    background-color: lightblue;
    transition: 0.5s;
}

#delete-bulb-link:hover {
    color: black;
    font-weight: bolder;
    background-color: lightcoral;
    transition: 0.5s;
}

footer {
    position: relative;
    bottom: 0px;
    left: 15px;
    width: 100%;
    height: 100px;
}

footer p {
    position: absolute;
    bottom: 0;
    left: 0;
}
