html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}

.bulb-registration,
.bulb-registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: inherit;
}

.title-bar {
    font-size: 3em;
    height: 30%;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.generic_description {
    font-size: 0.5em;
    text-align: center;
}

.generic-button {
    font-family: inherit;
    transition: 0.25s;
}

.bulb-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.bulb-color-selector {
    visibility: hidden;
}

.bulb-icon {
    display: grid;
}

.fa-lightbulb {
    font-size: 10em;
    transition: color 0.25s;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

#selectedhexagon {
    position: relative;
    height: 21px;
    width: 21px;
    overflow: hidden;
    transition: all ease-in-out 0.25s;
    visibility: hidden;
    top: -115px;
    left: 108px;
}

.color-selector {
    overflow: hidden;
}

.bulb-container:hover {
    background-color: white;
}

.bulb-container:hover #selectedhexagon {
    visibility: visible;
}

.bulb-container:hover .bulb-color-selector {
    visibility: visible;
}

#audio-sync-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}

#audio_device_selector {
    font-size: 1em;
    width: min-content;
}

#activate-music-sync-button {
    font-size: 1em;
}

#bulb-search-button {
    font-size: 1em;
}

.error-message {
    position: absolute;
    top: 30%;
    border-style: solid;
    border: black;
    background-color: gray;
    color: red;
    font-weight: bolder;
    padding: 1em;
}
